@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  scroll-behavior:smooth;
}
::selection{
  background:#4501fe;
  color:#fff;
}
body{
  font-family:"Poppins";
  background:linear-gradient(to top, rgb(229, 235, 255), rgb(253, 232, 232), rgb(247, 242, 212));
}
.share{
  background:#4501fe;
  border:1px solid rgba(0,0,0,.0);
  border-radius:50%;
  color:#fff;
  transition:all .1s;
  float:right;
  margin-top:18px;
  margin-bottom:40px;
  margin-right:20px;
  height:50px;
  width:50px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.share:hover{
  background:#7341fb;
}
.user{
  margin-top:120px;
  display:grid;
  grid-template-columns:auto;
  place-items:center;
  width:100%;
  width:100%;
  text-align:center;
  width:100%;
}
.user .userImg{
  height:130px;
  border-radius:50%;
  margin-bottom:10px;
  background:#fff;
  padding:5px;
}
.user .userName{
  font-size:30px;
  margin-bottom:5px;
  color:#000;
}
.user .userBio{
  font-size:16px;
  max-width:320px;
  color:rgba(0,0,0,.6);
}
.userLinks{
  margin-top:60px;
}
.userLinks ul{
  display:grid;
  grid-template-columns:auto;
  gap:15px;
  max-width:400px;
}
.userLinks ul li{
  list-style:none;
  background:#fff;
  padding:15px 20px;
  border-radius:100px;
  width:400px;
  transition: all .2s ease;
}
@media screen and (max-width:400px){
.userLinks ul li{
  max-width:350px;
}
}
@media screen and (max-width:360px){
.userLinks ul li{
  max-width:320px;
}
}
.userLinks ul li:hover{
  background:#4501fe;
  transform:scale(1.06);
}
.userLinks ul li:hover a{
  color:#fff;
}
.userLinks ul li svg{
  color:#000;
}
.userLinks ul li a{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px;
  text-decoration:none;
  color:#000;
  font-size:17px;
  font-weight:500;
}
.userLinks .icon{
  background:#eee;
  padding:3px 7px;
  border-radius:100px;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:all .2s;
}
.userLinks .icon .shareText{
  display:none;
  font-weight:400;
  font-size:14px;
  color:#000;
}
.userLinks .icon:hover .shareText{
  display:block;
}
.userEx{
  background:#fff;
  padding:20px;
  border-radius:20px;
  margin-top:-65px;
  z-index:-1;
  padding-top:60px;
}
@media screen and (max-width:400px){
.userEx{
  max-width:350px;
}
}
@media screen and (max-width:360px){
.userEx{
  max-width:320px;
}
}
.small-footer{
  margin-top:100px;
  margin-bottom:50px;
  text-align:center;
}
.small-footer a{
  text-decoration:none;
  color:#4501fe;
  font-size:14px;
}
.small-footer p{
  font-weight:bold;
  font-size:20px;
  color:#4501fe;
  opacity:.6;
  margin-bottom:-4px;
}